.github/**
.vscode/**
.vscode-test/**
.vscode-test.mjs
.gitlab-ci.yml
.mocharc.json
src/**
out/**
scripts/**
node_modules/**
esbuild.js
tsconfig.json
Makefile
.gitignore
eslint.config.mjs
package-lock.json
syntax/verifpal.iro
**/*.map
**/*.ts
