.vscode/**
.gitlab-ci.yml
src/**
out/**
scripts/**
node_modules/**
esbuild.js
tsconfig.json
tsconfig.test.json
Makefile
.gitignore
eslint.config.mjs
package-lock.json
syntax/verifpal.iro
**/*.map
**/*.ts
